<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>内容管理</title>
<link rel="stylesheet" type="text/css" href="<?=base_url('public/admin/css/style.css')?>" />
</head>

<body id="mainWarp">
<div class="breadNav">
  <span>当前位置：</span><span>内容管理</span><i>&gt;</i><span>内容列表</span>
</div>
<div class="formWarp">
    <div class="formHandle">
        <div class="addInfo"><a class="addBtn" href="<?=site_url('admin/article/add')?>">添加内容</a></div>
        <div class="categorySelect ml20">
          分类筛选：
          <select name="category" id="category" class="select">
              <option <?php echo $cid == 0 ? 'selected' : ''; ?> value="0">全部分类</option>
              <?php foreach($categorys as $k=>$v):?>
              <option <?php echo $v['id']==$cid ? 'selected' : ''; ?> value="<?=$v['id']?>"><?php echo str_repeat('　', $v['level']-1);?><?=$v['name']?></option>
              <?php endforeach;?>
          </select>
        </div>
        <div class="formSearch">
            <form action="<?=site_url('admin/article/index')?>" method="get">
              <input type="hidden" name="cid" value="<?=$cid;?>">
              <label class="ml10"></label>
              <input type="text" name="s" class="mtxt" placeholder="输入标题进行查询" value="<?=$search;?>"/>
              <input type="submit" class="scBtn ml10" value="查询" />
            </form>
        </div>
    </div>
  
  <form action="" method="post">
    <div class="mainList">
    <?php if(empty($article)):?>
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                  <th width="45">ID</th>
                  <th width="30%">标题</th>
                  <th width="30%" class="align-center">分类</th>
                  <th width="*" class="align-center">推荐</th>
                  <th width="100" class="align-center">操作</th>
                </tr>
                <tr>
                  <td colspan="5" align="center">内容查询结果为0，去<a href="<?=site_url('admin/article/add')?>">创建内容</a></td>
                </tr>
            </tbody>
        </table>
    <?php else:?>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <th width="45">ID</th>
            <th width="30%">标题</th>
            <th width="30%" class="align-center">分类</th>
            <th width="*" class="align-center">推荐</th>
            <th width="100" class="align-center">操作</th>
          </tr>
          <?php foreach($article as $v):?>
          <tr>
            <td><?=$v['id'];?></td>
            <td><?=$v['title'];?></td>
            <td class="align-center"><?=$v['category'];?></td>
            <td class="align-center"><?php echo ['/','是'][$v['recommend']];?></td>
            <td class="align-center"><a href="<?=site_url('admin/article/update?id=').$v['id'];?>">修改</a> <a href="<?=site_url('admin/article/delete?id=').$v['id'];?>" onclick="return confirm('确认删除?');">删除</a></td>
          </tr>
          <?php endforeach;?>
        </tbody>
      </table>
      <div class="pagination"><?php echo $list_page;?></div>
    <?php endif;?>
    </div>
    </form>

    <script type="text/javascript" src="<?=base_url('public/admin/js/jquery.min.js')?>"></script>
    <script>
      $(function(){
        var $category = $('#category');
        $category.on('change',function(){
          var cid = $(this).val();
          var locationSearch = location.search;
          var searchStr = '';
          var newSearch = '';
          var args = [];
          var argsJson = {};
          if(locationSearch != ''){
            searchStr = locationSearch.substr(1);
            args = searchStr.split('&');
            $.each(args, function(i, v){
              var temp = [];
              temp = v.split('=');
              argsJson[temp[0]] = temp[1];
            });
            argsJson.cid = cid;
            
            $.each(argsJson, function(k,v){
              newSearch += '&'+k+'='+v; 
            });
            newSearch = newSearch.substr(1);
            
          }else{
            newSearch = 'cid='+cid;
          }
          location.href = location.href.split('?')[0] + '?' + newSearch;
        });
      });
    </script>
</div>
</body>
</html>
