<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>创建分类</title>
<link rel="stylesheet" type="text/css" href="<?=base_url('public/css/style.css')?>" />
<link type="text/css" rel="stylesheet" href="<?=base_url('public/umeditor/themes/default/css/umeditor.css')?>">
</head>

<body id="mainWarp">
<div class="breadNav">
  <span>当前位置：</span><span>分类管理</span><i>&gt;</i><span>创建分类</span>
</div>
<div class="formWarp">
    <form id="form" action="<?=site_url('admin/category/add')?>" method="post">
        <ul>
            <li><label class="formLabel"><span class="red">*</span>分类名称：</label>
                <div class="formInput">
                    <input type="text" id="name" name="name" class="mtxt"/>
                    <i>分类名称必填</i>
                </div>
            </li>
            <li><label class="formLabel"><span class="red">*</span>所属分类：</label>
                <div class="formInput">
                    <select name="pid" id="pid" class="mselect">
                        <option selected value="0">顶级分类</option>
                        <?php foreach($categorys as $k=>$v):?>
                        <option value="<?=$v['id']?>"><?php echo str_repeat('　', $v['level']);?><?=$v['name']?></option>
                        <?php endforeach;?>
                    </select>
                    <i></i>
                </div>
            </li>
            <li><label class="formLabel">关键词：</label>
                <div class="formInput">
                    <input type="text" id="keywords" name="keywords" class="mtxt"/>
                    <i></i>
                </div>
            </li>
            <li><label class="formLabel">分类描述：</label>
                <div class="formInput">
                    <textarea id="description" name="description" class="stxtarea"></textarea>
                    <i></i>
                </div>
            </li>
            <li><label></label></li>
            <li><label></label><input type="button" value="提 交" class="subBtn" /></li>
        </ul>
    </form>



<script type="text/javascript" src="<?=base_url('public/js/jquery.min.js')?>"></script>
<script type="text/javascript">
$(function(){

    var $name = $('#name');
    var $pid = $('#pid');
    var $keywords = $('#keywords');
    var $description = $('#description');

    $('#form').on('blur','input',function(){
        checkVal($(this));
    });
    $('#form').on('change','select',function(){
        checkVal($(this));
    });
    $('#form').on('blur','textarea',function(){
        checkVal($(this));
    });
    function checkVal($el){
        if($el.val().trim() === ''){
            $el.siblings('i').addClass('show');
            return false;
        }else{
            $el.siblings('i').removeClass('show');
            return true;
        }
    }
    function validate(){
        var status = true;
        !checkVal($name) && (status = false);
        !checkVal($pid) && (status = false);
        return status;
    }
    $('.subBtn').on('click',function(){
        if(validate()){
            $('#form').submit();
        }
    });


})
</script>
</div>
</body>
</html>
