<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>分类管理</title>
<link rel="stylesheet" type="text/css" href="<?=base_url('public/admin/css/style.css')?>" />
</head>

<body id="mainWarp">
<div class="breadNav">
  <span>当前位置：</span><span>分类管理</span><i>&gt;</i><span>分类列表</span>
</div>
<div class="formWarp">
    <div class="formHandle">
        <div class="addInfo"><a class="addBtn" href="<?=site_url('admin/category/add')?>">添加分类</a></div>
        <div class="formSearch">
        </div>
    </div>
  
  <form action="" method="post">
    <div class="mainList">
    <?php if(empty($category)):?>
        <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                <th width="45">ID</th>
                <th width="120">分类名称</th>
                <th width="80">PID</th>
                <th width="*">关键词</th>
                <th width="*">描述</th>
                <th width="100">操作</th>
                </tr>
                <tr>
                <td colspan="6" align="center">分类查询结果为0，去<a href="<?=site_url('admin/category/add')?>">创建分类</a></td>
                </tr>
            </tbody>
        </table>
    <?php else:?>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <th width="45">ID</th>
            <th width="120">分类名称</th>
            <th width="80">PID</th>
            <th width="*">关键词</th>
            <th width="*">描述</th>
            <th width="100">操作</th>
          </tr>
          <?php foreach($category as $v):?>
          <tr>
            <td><?=$v['id'];?></td>
            <td><?php echo str_repeat('——',$v['level']-1).' '.$v['name'];?></td>
            <td><?=$v['pid'];?></td>
            <td><?=$v['keywords'];?></td>
            <td><?=$v['description'];?></td>
            <td><a href="<?=site_url('admin/category/update?id=').$v['id'];?>">修改</a> <a href="<?=site_url('admin/category/delete?id=').$v['id'];?>" onclick="return confirm('确认删除?');">删除</a></td>
          </tr>
          <?php endforeach;?>
        </tbody>
      </table>
      <div class="pagination"></div>
    <?php endif;?>
    </div>
    </form>
</div>
</body>
</html>
