<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="<?=base_url('public/admin/css/style.css')?>" />
</head>

<body id="mainWarp">
<div class="breadNav">
  <span>当前位置：</span><span>网站管理后台欢迎页</span>
</div>
<div class="desTxt">
  <p>欢迎你，<?=$user?>！</p>
  <p>站点域名：<?=$info['domain']?></p>
  <p>站点名称：<?=$info['name']?></p>
  <p>网站关键词：<?=$info['keywords']?></p>
  <p>网站描述：<?=$info['description']?></p>
  <p><?=date('Y-m-d')?></p>
</div>
</body>
</html>
