<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='description' content='<?=$about['description']?>'>
    <meta name='keywords' content='<?=$about['keywords']?>'>
    <title><?=$about['title']?></title>
    <link rel="stylesheet" href="<?=base_url('public/home/css/style.css')?>">
</head>
<body>
    <?php $this->load->view('home/header.html'); ?>
    <div class="banner"></div>
    <div class="bread-nav">
        <span>当前位置：</span>
        <a href="/about/"><?=$about['title']?></a>
    </div>
    <div class="main">
        <div class="content">
            <?=$about['content']?>
        </div>
    </div>
    <?php $this->load->view('home/footer.html'); ?>
</body>
</html>