<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='description' content='<?=$about['description']?>'>
    <meta name='keywords' content='<?=$about['keywords']?>'>
    <title><?=$about['title']?></title>
    <link rel="stylesheet" href="<?=base_url('public/home/css/style.css')?>">
</head>
<body>
    <div class="header">
        <div class="header-main">
            <div class="logo fl"><a title="青石玉雕" href="/"><img src="<?=base_url('public/home/image/logo.png')?>" alt="青石玉雕"></a></div>
            <div class="nav fr">
                <a href="/">网站首页</a>
                <a href="/">关于我们</a>
                <a href="/">文章资讯</a>
                <a href="/">作品欣赏</a>
                <a href="/">证书查询</a>
                <a href="/">联系我们</a>
            </div>
        </div>
    </div>
    <div class="banner">
        <ul>
            <li><a href="/" style="background: url('image/banner.jpg') no-repeat center"></a></li>
        </ul>
    </div>
    <div class="bread-nav">
        <span>当前位置：</span>
        <a href="/about"><?=$about['title']?></a>
    </div>
    <div class="main">
        <div class="content">
            <?=$about['content']?>
        </div>
    </div>
    <div class="footer">
        <div class="footer-main">
            <div class="copyright fl">
                <p>服务热线：15050191080   13812646413</p>
                <p>地址：苏州市姑苏区十全街385号</p>
                <p>Copyright © 2009-2018 青石玉雕工作室版权所有   渝ICP备 87897345号</p>
            </div>
            <div class="wechat fr">
                <img src="/public/home/image/wx_1.jpg" alt="微信扫一扫关注我们">
                <img src="/public/home/image/wx_2.jpg" alt="微信扫一扫关注我们">
                <img src="/public/home/image/wx_3.jpg" alt="微信扫一扫关注我们">
            </div>
        </div>
    </div>
</body>
</html>