<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='description' content="<?=$head['description']?>">
    <meta name='keywords' content="<?=$head['keywords']?>">
    <title><?=$head['name']?></title>
    <link rel="stylesheet" href="<?=base_url('public/home/css/style.css')?>">
</head>
<body>
    <?php $this->load->view('home/header.html');?>
    <div class="banner"></div>
    <div class="bread-nav">
        <span>当前位置：</span>
        <a href="/certificate/">证书查询</a>
    </div>
    <div class="main">
        <div class="search-certificate">
            <div class="search-box">
                <label for="">请输入证书编号</label>
                <input type="text" placeholder="请输入完整的证书编号" class="txt" id="code" name="code">
                <input type="button" class="search-btn" value="查询">
            </div>
        </div>
        <div class="certificate-info"></div>
    </div>
    <?php $this->load->view('home/footer.html');?>
    <script type="text/javascript" src="<?=base_url('public/admin/js/jquery.min.js')?>"></script>
    <script>
        $(function(){
            var $code = $('#code');
            var $btn = $('.search-btn');

            $btn.on('click', function(){
                var code = $code.val().trim();
                if(code !== ''){
                    $.ajax({
                        url: '/certificate/getCertificateByCode?code='+code,
                        method: 'GET',
                        dataType: 'json',
                        success: function(data){
                            if(data.status == 1){
                                renderInfo(data.data);
                            }else{
                                renderTips();
                            }
                        },
                        error: function(err){
                            console.log('网络连接失败，请稍后再试');
                        },
                        complete: function(){
                            //
                        }
                    });
                }
            });
        });

        function renderTips(){
            $('.certificate-info').removeClass('border').html('<p class="err">此编号未查到有效证书信息</p>');
        }

        function renderInfo(data){
            var html = '';
            var imgUrl = '/certificate_imgs/'+data.year+'/'+data.product_img;
                html += '<div class="img"><img src="'+imgUrl+'" alt="'+data.name+'"></div>';
                html += '<div class="info"><h3 class="title">青石玉雕作品证书</h3><ul>';
                html += '<li><b>证书编号：</b><span>'+data.certificate+'</span></li>';
                html += '<li><b>名　　称：</b><span>'+data.name+'</span></li>';
                html += '<li><b>材　　质：</b><span>'+data.texture+'</span></li>';
                html += '<li><b>尺　　寸：</b><span>'+data.size+'</span></li>';
                html += '<li><b>重　　量：</b><span>'+data.weight+'</span></li>';
                html += '</ul></div>';
            $('.certificate-info').addClass('border').html(html);
        }
    </script>
</body>
</html>