<div class="footer">
    <div class="footer-main">
        <div class="copyright fl">
            <p>服务热线：15050191080   13812646413</p>
            <p>地址：苏州市姑苏区十全街385号</p>
            <p>Copyright © 2009-2018 青石玉雕工作室版权所有   渝ICP备 87897345号</p>
        </div>
        <div class="wechat fr">
            <img src="/public/home/image/wx_1.jpg" alt="微信扫一扫关注我们">
            <img src="/public/home/image/wx_2.jpg" alt="微信扫一扫关注我们">
            <img src="/public/home/image/wx_3.jpg" alt="微信扫一扫关注我们">
        </div>
    </div>
</div>