<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>青石玉雕</title>
    <link rel="stylesheet" href="<?=base_url('public/home/css/style.css')?>">
</head>
<body>
    <div class="header">
        <div class="header-main">
            <div class="logo fl"><a title="青石玉雕" href="/"><img src="<?=base_url('public/home/image/logo.png')?>" alt="青石玉雕"></a></div>
            <div class="nav fr">
                <a href="/">网站首页</a>
                <a href="/">关于我们</a>
                <a href="/">文章资讯</a>
                <a href="/">作品欣赏</a>
                <a href="/">证书查询</a>
                <a href="/">联系我们</a>
            </div>
        </div>
    </div>
    <div class="focus">
        <ul>
            <?php foreach($focus as $v):?>
            <li><a href="/" style="background: url('/uploads/<?=$v['focus_img'];?>') no-repeat center"></a></li>
            <?php endforeach;?>
        </ul>
    </div>
    <div class="main">
        <div class="section">
            <h2 class="block-title"><a href="/about.html">关于我们</a></h2>
            <div class="about-info">
                <?=$about_us;?>
            </div>
        </div>
        <div class="section">
            <h2 class="block-title"><a href="">作品欣赏</a></h2>
            <div class="products">
                <ul>
                    <?php foreach($products as $k=>$v):?>
                    <li>
                        <a href="">
                            <img src="/uploads/<?=$v['focus_img']?>" alt="<?=$v['title']?>">
                            <p><?=$v['title']?></p>
                        </a>
                    </li>
                    <?php endforeach;?>
                </ul>
            </div>
        </div>
        <div class="section">
            <h2 class="block-title"><a href="">文章资讯</a></h2>
            <div class="news">
                <?php foreach($article as $k=>$v):?>
                <dl>
                    <dt><span><?php echo date_format($v['create_time'], 'Y-m-d');?></span><a href=""><?=$v['title']?></a></dt>
                    <dd><?=$v['summary']?></dd>
                </dl>
                <?php endforeach;?>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-main">
            <div class="copyright fl">
                <p>服务热线：15050191080   13812646413</p>
                <p>地址：苏州市姑苏区十全街385号</p>
                <p>Copyright © 2009-2018 青石玉雕工作室版权所有   渝ICP备 87897345号</p>
            </div>
            <div class="wechat fr">
                <img src="/public/home/image/wx_1.jpg" alt="微信扫一扫关注我们">
                <img src="/public/home/image/wx_2.jpg" alt="微信扫一扫关注我们">
                <img src="/public/home/image/wx_3.jpg" alt="微信扫一扫关注我们">
            </div>
        </div>
    </div>
</body>
</html>