<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name='description' content="<?=$head['description']?>">
    <meta name='keywords' content="<?=$head['keywords']?>">
    <title><?=$head['name']?></title>
    <link rel="stylesheet" href="<?=base_url('public/home/css/style.css')?>">
</head>
<body>
    <?php $this->load->view('home/header.html');?>
    <div class="focus">
        <ul>
            <?php foreach($focus as $v):?>
            <li><a href="/" style="background: url('/uploads/<?=$v['focus_img'];?>') no-repeat center"></a></li>
            <?php endforeach;?>
        </ul>
    </div>
    <div class="main">
        <div class="section">
            <h2 class="block-title"><a href="/about/">关于我们</a></h2>
            <div class="about-info">
                <?=$about_us;?>
            </div>
        </div>
        <div class="section">
            <h2 class="block-title"><a href="/production/">作品欣赏</a></h2>
            <div class="products">
                <ul>
                    <?php foreach($products as $k=>$v):?>
                    <li>
                        <a href="">
                            <img src="/uploads/<?=$v['focus_img']?>" alt="<?=$v['title']?>">
                            <p><?=$v['title']?></p>
                        </a>
                    </li>
                    <?php endforeach;?>
                </ul>
            </div>
        </div>
        <div class="section">
            <h2 class="block-title"><a href="/news/">文章资讯</a></h2>
            <div class="news">
                <?php foreach($article as $k=>$v):?>
                <dl>
                    <dt><span><?php echo date('Y-m-d', $v['create_time']);?></span><a href="/news/<?=$v['id']?>"><?=$v['title']?></a></dt>
                    <dd><?=$v['summary']?></dd>
                </dl>
                <?php endforeach;?>
            </div>
        </div>
    </div>
    <?php $this->load->view('home/footer.html'); ?>
</body>
</html>