<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>青石玉雕</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="header">
        <div class="header-main">
            <div class="logo fl"><a title="青石玉雕" href="/"><img src="image/logo.png" alt="青石玉雕"></a></div>
            <div class="nav fr">
                <a href="/">网站首页</a>
                <a href="/">关于我们</a>
                <a href="/">文章资讯</a>
                <a href="/">作品欣赏</a>
                <a href="/">证书查询</a>
                <a href="/">联系我们</a>
            </div>
        </div>
    </div>
    <div class="banner">
        <ul>
            <li><a href="/" style="background: url('image/banner.jpg') no-repeat center"></a></li>
        </ul>
    </div>
    <div class="bread-nav">
        <span>当前位置：</span>
        <a href="">新闻中心</a>
    </div>
    <div class="main">
        <div class="article-title">
            <h1>绿松石鉴定标题这里是标题绿松石鉴定标题这里是标题</h1>
            <div class="sub-info hide">
                <span>来源：青石玉雕</span>
                <span>发布时间：2018-8-25</span>
            </div>
        </div>
        <div class="content">
            <p>一，天然的松石，和树叶一样，没有两片花纹颜色一模一样的，如果一整条项链或者手链，颜色，花纹都相似，那很有可能是假的。
                    二，天然绿松石，因为是石头，所以，用手抓起来不会粘手，假松石，或者经过处理的松石，用手抓起来会粘手。
                    三，天然绿松石，如果用火烧，不会产生黑烟，不会变色，而处理过的松石或者假松石，用火烧会变色，会产生黑烟，黑烟有股胶水的味道。
            </p>
            <p>松石质量好坏的辨别方法</p>
            <p>一，看亮度，亮度越好的松石，证明货质越坚硬，货质好的松石，会有一种玻璃的感觉，带些透明。
                    二，看色泽和花纹，好松石的花纹和色泽都很漂亮，也就是符合人们的审美观，好松石的颜色要鲜艳，不能黯淡。
                    三，听声音，好松石的撞击声是清脆的，如果撞击声沉闷，要么是经过处理的松石，要么就是假松石 能满足上述三个条件的松石，那就是好松石。
            </p>
        </div>
    </div>
    <div class="footer">
        <div class="footer-main">
            <div class="copyright fl">
                <p>服务热线：15050191080   13812646413</p>
                <p>地址：苏州市姑苏区十全街385号</p>
                <p>Copyright © 2009-2018 青石玉雕工作室版权所有   渝ICP备 87897345号</p>
            </div>
            <div class="wechat fr">
                <img src="image/wx_1.jpg" alt="微信扫一扫关注我们">
                <img src="image/wx_2.jpg" alt="微信扫一扫关注我们">
                <img src="image/wx_3.jpg" alt="微信扫一扫关注我们">
            </div>
        </div>
    </div>
</body>
</html>