<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>青石玉雕</title>
    <link rel="stylesheet" href="<?=base_url('public/home/css/style.css')?>">
</head>
<body>
    <?php $this->load->view('home/header.html');?>
    <div class="banner">
        <ul>
            <li><a href="/" style="background: url('image/banner.jpg') no-repeat center"></a></li>
        </ul>
    </div>
    <div class="bread-nav">
        <span>当前位置：</span>
        <a href="">作品欣赏</a>
    </div>
    <div class="main">
        <div class="products-list">
            <ul>
                <?php foreach($production as $v):?>
                <li>
                    <a href="/production/<?=$v['id']?>">
                        <img src="/uploads/<?=$v['focus_img']?>" alt="">
                        <p><?=$v['title']?></p>
                    </a>
                </li>
                <?php endforeach;?>
            </ul>
        </div>
        <div class="pagination"><?=$list_page;?></div>
    </div>
    <?php $this->load->view('home/footer.html'); ?>
</body>
</html>