<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>青石玉雕</title>
    <link rel="stylesheet" href="<?=base_url('public/home/css/style.css')?>">
</head>
<body>
    <?php $this->load->view('home/header.html');?>
    <div class="banner">
        <ul>
            <li><a href="/" style="background: url('image/banner.jpg') no-repeat center"></a></li>
        </ul>
    </div>
    <div class="bread-nav">
        <span>当前位置：</span>
        <a href="">作品欣赏</a>
    </div>
    <div class="main">
        <div class="products-list">
            <ul>
                <li>
                    <a href="">
                        <img src="image/production.jpg" alt="">
                        <p>貔貅</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="image/production.jpg" alt="">
                        <p>貔貅</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="image/production.jpg" alt="">
                        <p>貔貅</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="image/production.jpg" alt="">
                        <p>貔貅</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="image/production.jpg" alt="">
                        <p>貔貅</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="image/production.jpg" alt="">
                        <p>貔貅</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="image/production.jpg" alt="">
                        <p>貔貅</p>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img src="image/production.jpg" alt="">
                        <p>貔貅</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="footer-main">
            <div class="copyright fl">
                <p>服务热线：15050191080   13812646413</p>
                <p>地址：苏州市姑苏区十全街385号</p>
                <p>Copyright © 2009-2018 青石玉雕工作室版权所有   渝ICP备 87897345号</p>
            </div>
            <div class="wechat fr">
                <img src="image/wx_1.jpg" alt="微信扫一扫关注我们">
                <img src="image/wx_2.jpg" alt="微信扫一扫关注我们">
                <img src="image/wx_3.jpg" alt="微信扫一扫关注我们">
            </div>
        </div>
    </div>
</body>
</html>